table {
	margin-top: 10px;
}

table thead td {
	height: 20px;
	background-color: #e1f0f5;
}

#navigator {
	text-align: center;
	margin-top: 20px;
}

#navigator a {
	margin: 0 5px;
}

.b_label {
	padding: 5px 0;
	text-align: center;
	background-color: #e1f0f5;
	width: 150px;
}

.b_label_c {
	padding-left: 10px;
	width: 400px;
}

.p_label {
	padding: 5px 0;
	text-align: center;
	background-color: #e1f0f5;
	width: 100px;
}

#bookinfo {
	width: 650px;
	border: 1px #e1f0f5 dashed;
	margin-left: 50px;
}

#bookinfo thead td {
	padding: 10px 0;
}

#bookinfo_simple {
	width: 450px;
	border: 1px #e1f0f5 dashed;
}

#bookinfo_simple thead td {
	padding: 10px 0;
}

#insertlibrarybook {
	width: 650px;
	border: 1px #e1f0f5 dashed;
	margin-left: 50px;
}

#insertpossessbook {
	width: 650px;
	border: 1px #e1f0f5 dashed;
}

#insertlibrarybook thead td {
	padding: 10px 0;
}

#insertlibrarybook tfoot td {
	text-align: center;
	padding: 10px 0;
}

#modifypossessbook {
	width: 450px;
	border: 1px #e1f0f5 dashed;
}

#modifypossessbook thead td {
	padding: 10px 0;
}

#modifypossessbook tfoot td {
	text-align: center;
	padding: 10px 0;
}

#library {
	width: 650px;
	border: 1px #e1f0f5 dashed;
	margin-left: 50px;
}

#user_info {
	padding: 5px 5px;
	width: 200px;
	border: 1px #e1f0f5 dashed;
	width: 200px;
}

#library_menu {
	padding: 5px 5px;
	width: 200px;
	border: 1px #e1f0f5 dashed;
}

#library_main_intro {
	width: 450px;
	height: 100%;
	border: 1px #e1f0f5 dashed;
}

#library_main {
	width: 450px;
	height: 100%;
	border: 1px #e1f0f5 dashed;
}

#searchbook {
	width: 100%;
	margin: 10px 0;
	border: 1px #e1f0f5 dashed;
}

#searchbook tbody td {
	height: 50px;
}

#modifylibrary {
	width: 650px;
	border: 1px #e1f0f5 dashed;
	margin-left: 50px;
}

#modifylibrary tfoot td {
	text-align: center;
	padding: 10px 0;
}

#library_body {
	width: 450px;
	border: 1px #e1f0f5 dashed;
}

#listlibrarybook {
	margin-left: 0px;
	width: 450px;
	border: 1px #e1f0f5 dashed;
}

.nocontent {
	height: 50px;
	width: 100%;
	text-align: center;
	padding: 20px 20px;
}

.list_book_info {
	width: 100px;
	height: 100%;
	border: 1px #6eaec9 dashed;
	text-align: center;
}

.list_book_info p {
	margin: 4px 0;
}

#possessbook_listresult {
	border: 1px #6eaec9 dashed;
}

.possessbook_list {
	width: 450px;
	height: 100%;
}

#myreviewlist {
	width: 450px;
	height: 100%;
	border: 1px #e1f0f5 dashed;
}

#mygradelist {
	width: 450px;
	height: 100%;
	border: 1px #e1f0f5 dashed;
}

.bookmark_bookinfo {
	width: 450px;
	height: 100%;
	border: 1px #e1f0f5 dashed;
}

.bookmark_info {
	width: 100%;
	height: 100%;
	border: 1px #e1f0f5 dashed;
}

.bookmark_list {
	width: 450px;
	height: 100%;
	border: 1px #e1f0f5 dashed;
}

.title {
	width: 450px;
}

.libraryrank {
	width: 650px;
	border: 1px #e1f0f5 dashed;
	margin-left: 50px;
}

.libraryrank td {
	width: 100px;
	text-align: center;
}

.searchresult_library {
	width: 650px;
	border: 1px #e1f0f5 dashed;
	margin-left: 50px;
}