.u_label {
	padding: 5px 0;
	text-align: center;
	background-color: #e1f0f5;
	width: 150px;
}

.u_label_c {
	padding-left: 10px;
	width: 350px;
}

#pw_modify {
	margin:20px 0 20px 100px;
	width: 500px;
}

#pw_modify tfoot{
	text-align: center;
}