.u_label {
	padding: 5px 0;
	text-align: center;
	background-color: #e1f0f5;
	width: 150px;
}

.u_label_c {
	padding-left: 10px;
	width: 350px;
}

table {
	margin-top: 10px;
}

table thead td {
	height: 20px;
	background-color: #e1f0f5;
}

.findIdView {
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: 200px;
}

.findIdView tfoot td {
	padding: 10px 0;
	text-align: center;
}

.findidresult {
	width: 380px;
	margin-left: 10px;
}

.findidresult tbody td {
	padding: 10px 0;
}


.findidresult tfoot td {
	padding: 10px 0;
	text-align: center;
}

.findpwview {
	width: 400px; margin-left : 100px;
	margin-top: 20px;
	margin-bottom: 150px;
	margin-left: 100px;
	border:1px #e1f0f5 dashed;
}

.findpwview tbody td {
	padding:10px 0;
}

.findpwview tfoot td {
	padding: 10px 0;
	text-align: center;
}

