.u_label {
	padding: 5px 0;
	text-align: center;
	background-color: #e1f0f5;
	width: 150px;
}

.u_label_c {
	padding-left: 10px;
	width: 350px;
}

#modifyuser {
	margin-left:100px;
}


#modifyuser tfoot{
	text-align:center;
}

#modifyuser thead td{
	padding:10px 0;
}

#modifythumnaildiv{
	padding:5px 0;
}