table {
	margin-top: 10px;
}

table thead td {
	height: 20px;
	background-color: #e1f0f5;
}

.p_label {
	padding: 5px 0;
	text-align: center;
	background-color: #e1f0f5;
	width: 100px;
}

#bookinfo_simple {
	width: 450px;
	border: 1px #e1f0f5 dashed;
}

#listpossessbook {
	width:450px;
	border: 1px #6eaec9 dashed;
}

#possessbok_info {
	width: 450px;
	margin: 20px 0;
	border: 1px #e1f0f5 dashed;
}

#possessbok_info TFOOT TD{
	text-align: center;
}

#zonepossesslist {
	width: 450px;
	border: 1px #e1f0f5 dashed;
}

#interestlibrary {
	width: 450px;
	border: 1px #e1f0f5 dashed;
}


.insertpossessbook {
	width: 450px;
	margin: 20px 0;
	border: 1px #e1f0f5 dashed;
}

.insertpossessbook tfoot td{
	text-align: center;
}


#possessbook_listresult {
	height: 100%;
	width:450px;
	border: 1px #6eaec9 dashed;
}

#possessbook_listresult tfoot td{
	
	text-align: center;
	
}
#possessbook_listresult {
	height: 100%;
	width:450px;
	border: 1px #6eaec9 dashed;
}

.possessbook_list {
	width:450px;
	height: 100%;
}

.zonenamelist{
	height: 100%;
	width:450px;
	border: 1px #6eaec9 dashed;
}

.zonenamelist tbody td{
	height:20px;
}

.possessBookImg{
	text-align:center;
	width:90px;
}

.possessBookAuthor{
	width:150px;
}

.possessBookTitle{
	width:200px;
}