<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- 콘솔로 보기 -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p - %C{1}  :  %M  %m %n"/>
        </layout>
        <filter class="org.apache.log4j.varia.StringMatchFilter"> 
            <param name="StringToMatch" value="Result" /> 
            <param name="AcceptOnMatch" value="false" /> 
        </filter> 
    </appender>
    
    <logger name="org.apache">
        <level value="WARN"/>
    </logger>
    
 	<category name="java.sql">
  		<priority value="debug" />
  		<appender-ref ref="CONSOLE" />
 	</category>
    
    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>


