#left_main {
	border: 0px #DCDCDC solid;
	margin-bottom: 20px;
}

#searchRank {
	padding: 3px 3px;
	border: 0px #DCDCDC solid;
	margin-bottom: 20px;
}

#libraryRank {
	padding: 3px 3px;
	border: 0px #DCDCDC solid;
	margin-bottom: 20px;
}

#topBookHits {
	padding: 3px 3px;
	border: 0px #DCDCDC solid;
	margin-bottom: 20px;
}

#searchRank li,#libraryRank li,#topBookHits li {
	margin: 3px 0;
}

#login li {
	list-style-type: none;
}

#login ul {
	display: inline;
}

.horizen {
	border: 1px #e1f0f5 dashed;
}

.user_thumnail,.user_thumnail img {
	margin: 0px 0px;
}

#user td {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.user_info p {
	margin: 10px 0 10px 5px;
}

#user {
	margin: 10px 0;
}